.contact {
    display: flex;
    background-color: aliceblue;
    color: black;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    padding: 6rem 4rem;

    h1 {
        text-align: center;
        margin-bottom: 1.5rem;
    }
}

.contactForm {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    padding: 3rem;

    button {
        background-color: #7843e9;
        border-radius: 0.25rem;
        cursor: pointer;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        width: fit-content;
        text-transform: uppercase;
    }
}

.formElement {
    display: flex;
    flex-direction: column;
    justify-items: left;
    margin-bottom: 2rem;

    label {
        margin-bottom: 0.25rem;
    }

    input {
        background-color: aliceblue;
        border-radius: 0.25rem;
        color: black;
        height: 2.5rem;
        padding: 0.75rem;
    }

    textarea {
        background-color: aliceblue;
        border-radius: 0.25rem;
        color: black;
        height: 10rem !important;
        padding: 0.75rem;
        width: 100% !important;
    }
}
